Repository googleapis/google-api-python-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries, @googleapis/python-samples-owners, @yoshi-approver

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default owners for changes in this repo
*               @googleapis/yoshi-python @googleapis/python-core-client-libraries

# The python-samples-reviewers team is the default owner for samples changes
/samples/  @googleapis/python-samples-owners @googleapis/python-core-client-libraries

# For more information, see https://github.com/googleapis/repo-automation-bots/blob/main/packages/auto-approve/README.md
.github/auto-approve.yml @googleapis/python-core-client-libraries @googleapis/yoshi-python

# The following is needed to auto-approve changes to static discovery artifacts and generated documentation.
/docs/dyn/*.html                                         @yoshi-approver @googleapis/yoshi-python
/docs/dyn/index.md                                       @yoshi-approver @googleapis/yoshi-python
/googleapiclient/discovery_cache/documents/*.json        @yoshi-approver @googleapis/yoshi-python

chore(deps): update all dependencies
  .github/workflows/main.yml
  samples/compute/requirements-test.txt
  samples/compute/requirements.txt
  scripts/requirements.txt
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries, @googleapis/python-samples-owners

feat(chromemanagement): update the api
  docs/dyn/chromemanagement_v1.customers.telemetry.devices.html
  docs/dyn/chromemanagement_v1.customers.telemetry.events.html
  googleapiclient/discovery_cache/documents/chromemanagement.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

chore: update docs/dyn/index.md
  docs/dyn/index.md
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(androidmanagement): update the api
  docs/dyn/androidmanagement_v1.enterprises.devices.html
  docs/dyn/androidmanagement_v1.enterprises.policies.html
  googleapiclient/discovery_cache/documents/androidmanagement.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(alloydb): update the api
  docs/dyn/alloydb_v1alpha.projects.locations.clusters.html
  docs/dyn/alloydb_v1beta.projects.locations.clusters.html
  googleapiclient/discovery_cache/documents/alloydb.v1.json
  googleapiclient/discovery_cache/documents/alloydb.v1alpha.json
  googleapiclient/discovery_cache/documents/alloydb.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(bigqueryreservation): update the api
  docs/dyn/bigqueryreservation_v1.projects.locations.html
  docs/dyn/bigqueryreservation_v1.projects.locations.reservations.assignments.html
  docs/dyn/bigqueryreservation_v1.projects.locations.reservations.html
  googleapiclient/discovery_cache/documents/bigqueryreservation.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(bigtableadmin): update the api
  docs/dyn/bigtableadmin_v2.projects.instances.tables.schemaBundles.html
  googleapiclient/discovery_cache/documents/bigtableadmin.v2.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(compute): update the api
  docs/dyn/compute_beta.reservationBlocks.html
  docs/dyn/compute_beta.reservationSubBlocks.html
  docs/dyn/compute_v1.reservationBlocks.html
  docs/dyn/compute_v1.reservationSubBlocks.html
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(dataplex): update the api
  docs/dyn/dataplex_v1.projects.locations.aspectTypes.html
  docs/dyn/dataplex_v1.projects.locations.entryGroups.entries.html
  docs/dyn/dataplex_v1.projects.locations.html
  googleapiclient/discovery_cache/documents/dataplex.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(dfareporting): update the api
  docs/dyn/dfareporting_v4.dynamicFeeds.html
  docs/dyn/dfareporting_v4.dynamicProfiles.html
  docs/dyn/dfareporting_v4.html
  docs/dyn/dfareporting_v4.studioCreativeAssets.html
  docs/dyn/dfareporting_v4.studioCreatives.html
  docs/dyn/dfareporting_v5.dynamicFeeds.html
  docs/dyn/dfareporting_v5.dynamicProfiles.html
  docs/dyn/dfareporting_v5.html
  docs/dyn/dfareporting_v5.studioCreativeAssets.html
  docs/dyn/dfareporting_v5.studioCreatives.html
  googleapiclient/discovery_cache/documents/dfareporting.v4.json
  googleapiclient/discovery_cache/documents/dfareporting.v5.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(dataproc): update the api
  docs/dyn/dataproc_v1.projects.locations.batches.html
  docs/dyn/dataproc_v1.projects.locations.operations.html
  docs/dyn/dataproc_v1.projects.locations.sessions.html
  docs/dyn/dataproc_v1.projects.locations.workflowTemplates.html
  docs/dyn/dataproc_v1.projects.regions.clusters.html
  docs/dyn/dataproc_v1.projects.regions.jobs.html
  docs/dyn/dataproc_v1.projects.regions.operations.html
  docs/dyn/dataproc_v1.projects.regions.workflowTemplates.html
  googleapiclient/discovery_cache/documents/dataproc.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

fix(datastore): update the api
  googleapiclient/discovery_cache/documents/datastore.v1.json
  googleapiclient/discovery_cache/documents/datastore.v1beta1.json
  googleapiclient/discovery_cache/documents/datastore.v1beta3.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(container): update the api
  docs/dyn/container_v1.projects.locations.clusters.html
  docs/dyn/container_v1.projects.locations.clusters.nodePools.html
  docs/dyn/container_v1.projects.zones.clusters.html
  docs/dyn/container_v1.projects.zones.clusters.nodePools.html
  docs/dyn/container_v1beta1.projects.locations.clusters.html
  docs/dyn/container_v1beta1.projects.locations.clusters.nodePools.html
  docs/dyn/container_v1beta1.projects.zones.clusters.html
  docs/dyn/container_v1beta1.projects.zones.clusters.nodePools.html
  googleapiclient/discovery_cache/documents/container.v1.json
  googleapiclient/discovery_cache/documents/container.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(networkconnectivity): update the api
  docs/dyn/networkconnectivity_v1.projects.locations.html
  docs/dyn/networkconnectivity_v1.projects.locations.serviceConnectionMaps.html
  docs/dyn/networkconnectivity_v1.projects.locations.serviceConnectionPolicies.html
  googleapiclient/discovery_cache/documents/networkconnectivity.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(discoveryengine): update the api
  docs/dyn/discoveryengine_v1.projects.locations.collections.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1.projects.locations.collections.dataStores.sessions.html
  docs/dyn/discoveryengine_v1.projects.locations.collections.engines.assistants.html
  docs/dyn/discoveryengine_v1.projects.locations.collections.engines.servingConfigs.html
  docs/dyn/discoveryengine_v1.projects.locations.collections.engines.sessions.html
  docs/dyn/discoveryengine_v1.projects.locations.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1.projects.locations.dataStores.sessions.html
  docs/dyn/discoveryengine_v1.projects.locations.licenseConfigs.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.collections.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.collections.dataStores.sessions.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.collections.engines.assistants.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.collections.engines.servingConfigs.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.collections.engines.sessions.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.dataStores.sessions.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.html
  docs/dyn/discoveryengine_v1alpha.projects.locations.licenseConfigs.html
  docs/dyn/discoveryengine_v1beta.projects.locations.collections.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1beta.projects.locations.collections.dataStores.sessions.html
  docs/dyn/discoveryengine_v1beta.projects.locations.collections.engines.assistants.html
  docs/dyn/discoveryengine_v1beta.projects.locations.collections.engines.servingConfigs.html
  docs/dyn/discoveryengine_v1beta.projects.locations.collections.engines.sessions.html
  docs/dyn/discoveryengine_v1beta.projects.locations.dataStores.servingConfigs.html
  docs/dyn/discoveryengine_v1beta.projects.locations.dataStores.sessions.html
  docs/dyn/discoveryengine_v1beta.projects.locations.licenseConfigs.html
  googleapiclient/discovery_cache/documents/discoveryengine.v1.json
  googleapiclient/discovery_cache/documents/discoveryengine.v1alpha.json
  googleapiclient/discovery_cache/documents/discoveryengine.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(firebaseappdistribution): update the api
  docs/dyn/firebaseappdistribution_v1alpha.projects.apps.testCases.html
  googleapiclient/discovery_cache/documents/firebaseappdistribution.v1alpha.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(dialogflow): update the api
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.conversations.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.environments.sessions.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.generators.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.playbooks.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.playbooks.versions.html
  docs/dyn/dialogflow_v3beta1.projects.locations.agents.sessions.html
  googleapiclient/discovery_cache/documents/dialogflow.v2.json
  googleapiclient/discovery_cache/documents/dialogflow.v2beta1.json
  googleapiclient/discovery_cache/documents/dialogflow.v3beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

fix(firestore): update the api
  googleapiclient/discovery_cache/documents/firestore.v1.json
  googleapiclient/discovery_cache/documents/firestore.v1beta1.json
  googleapiclient/discovery_cache/documents/firestore.v1beta2.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(firebaseml): update the api
  docs/dyn/firebaseml_v2beta.projects.locations.publishers.models.html
  googleapiclient/discovery_cache/documents/firebaseml.v2beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(docs): update the api
  googleapiclient/discovery_cache/documents/docs.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(iam): update the api
  docs/dyn/iam_v1.locations.workforcePools.providers.html
  googleapiclient/discovery_cache/documents/iam.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(managedkafka): update the api
  docs/dyn/managedkafka_v1.projects.locations.connectClusters.connectors.html
  docs/dyn/managedkafka_v1.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/managedkafka.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(vault): update the api
  docs/dyn/vault_v1.operations.html
  googleapiclient/discovery_cache/documents/vault.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(storagebatchoperations): update the api
  docs/dyn/storagebatchoperations_v1.projects.locations.jobs.html
  googleapiclient/discovery_cache/documents/storagebatchoperations.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(paymentsresellersubscription): update the api
  docs/dyn/paymentsresellersubscription_v1.partners.subscriptions.html
  docs/dyn/paymentsresellersubscription_v1.partners.subscriptions.lineItems.html
  googleapiclient/discovery_cache/documents/paymentsresellersubscription.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(redis): update the api
  docs/dyn/redis_v1.projects.locations.operations.html
  docs/dyn/redis_v1beta1.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/redis.v1.json
  googleapiclient/discovery_cache/documents/redis.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(recommendationengine): update the api
  docs/dyn/recommendationengine_v1beta1.projects.locations.catalogs.eventStores.operations.html
  docs/dyn/recommendationengine_v1beta1.projects.locations.catalogs.operations.html
  googleapiclient/discovery_cache/documents/recommendationengine.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(oracledatabase): update the api
  docs/dyn/oracledatabase_v1.projects.locations.databases.html
  docs/dyn/oracledatabase_v1.projects.locations.dbSystemInitialStorageSizes.html
  docs/dyn/oracledatabase_v1.projects.locations.dbVersions.html
  docs/dyn/oracledatabase_v1.projects.locations.exadbVmClusters.dbNodes.html
  docs/dyn/oracledatabase_v1.projects.locations.exadbVmClusters.html
  googleapiclient/discovery_cache/documents/oracledatabase.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(notebooks): update the api
  docs/dyn/notebooks_v1.projects.locations.html
  docs/dyn/notebooks_v1.projects.locations.operations.html
  docs/dyn/notebooks_v2.projects.locations.html
  docs/dyn/notebooks_v2.projects.locations.instances.html
  docs/dyn/notebooks_v2.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/notebooks.v1.json
  googleapiclient/discovery_cache/documents/notebooks.v2.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(texttospeech): update the api
  docs/dyn/texttospeech_v1.text.html
  docs/dyn/texttospeech_v1beta1.text.html
  googleapiclient/discovery_cache/documents/texttospeech.v1.json
  googleapiclient/discovery_cache/documents/texttospeech.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

chore(python): remove configure_previous_major_version_branches
  .github/.OwlBot.lock.yaml
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

chore: update docs/dyn/index.md
  docs/dyn/index.md
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(admin): update the api
  docs/dyn/admin_directory_v1.chromeosdevices.html
  googleapiclient/discovery_cache/documents/admin.directory_v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(apphub): update the api
  docs/dyn/apphub_v1.projects.locations.applications.services.html
  docs/dyn/apphub_v1.projects.locations.applications.workloads.html
  docs/dyn/apphub_v1.projects.locations.discoveredServices.html
  docs/dyn/apphub_v1.projects.locations.discoveredWorkloads.html
  docs/dyn/apphub_v1.projects.locations.html
  docs/dyn/apphub_v1alpha.projects.locations.applications.services.html
  docs/dyn/apphub_v1alpha.projects.locations.applications.workloads.html
  docs/dyn/apphub_v1alpha.projects.locations.discoveredServices.html
  docs/dyn/apphub_v1alpha.projects.locations.discoveredWorkloads.html
  docs/dyn/apphub_v1alpha.projects.locations.html
  googleapiclient/discovery_cache/documents/apphub.v1.json
  googleapiclient/discovery_cache/documents/apphub.v1alpha.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(androidpublisher): update the api
  docs/dyn/androidpublisher_v3.orders.html
  docs/dyn/androidpublisher_v3.purchases.productsv2.html
  googleapiclient/discovery_cache/documents/androidpublisher.v3.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(authorizedbuyersmarketplace): update the api
  docs/dyn/authorizedbuyersmarketplace_v1.bidders.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1.buyers.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.bidders.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.buyers.finalizedDeals.html
  googleapiclient/discovery_cache/documents/authorizedbuyersmarketplace.v1.json
  googleapiclient/discovery_cache/documents/authorizedbuyersmarketplace.v1alpha.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(alloydb): update the api
  docs/dyn/alloydb_v1.projects.locations.clusters.html
  docs/dyn/alloydb_v1.projects.locations.html
  docs/dyn/alloydb_v1alpha.projects.locations.clusters.html
  docs/dyn/alloydb_v1alpha.projects.locations.html
  docs/dyn/alloydb_v1beta.projects.locations.clusters.html
  docs/dyn/alloydb_v1beta.projects.locations.html
  googleapiclient/discovery_cache/documents/alloydb.v1.json
  googleapiclient/discovery_cache/documents/alloydb.v1alpha.json
  googleapiclient/discovery_cache/documents/alloydb.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(analyticshub): update the api
  docs/dyn/analyticshub_v1.projects.locations.dataExchanges.listings.html
  googleapiclient/discovery_cache/documents/analyticshub.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(apigee): update the api
  docs/dyn/apigee_v1.organizations.apis.keyvaluemaps.html
  docs/dyn/apigee_v1.organizations.environments.keyvaluemaps.html
  docs/dyn/apigee_v1.organizations.keyvaluemaps.html
  googleapiclient/discovery_cache/documents/apigee.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(artifactregistry): update the api
  docs/dyn/artifactregistry_v1.projects.locations.repositories.html
  googleapiclient/discovery_cache/documents/artifactregistry.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python
