Repository googleapis/google-api-python-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries, @googleapis/python-samples-owners, @yoshi-approver

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default owners for changes in this repo
*               @googleapis/yoshi-python @googleapis/python-core-client-libraries

# The python-samples-reviewers team is the default owner for samples changes
/samples/  @googleapis/python-samples-owners @googleapis/python-core-client-libraries

# For more information, see https://github.com/googleapis/repo-automation-bots/blob/main/packages/auto-approve/README.md
.github/auto-approve.yml @googleapis/python-core-client-libraries @googleapis/yoshi-python

# The following is needed to auto-approve changes to static discovery artifacts and generated documentation.
/docs/dyn/*.html                                         @yoshi-approver @googleapis/yoshi-python
/docs/dyn/index.md                                       @yoshi-approver @googleapis/yoshi-python
/googleapiclient/discovery_cache/documents/*.json        @yoshi-approver @googleapis/yoshi-python

feat(migrationcenter): update the api
  docs/dyn/migrationcenter_v1.projects.locations.html
  docs/dyn/migrationcenter_v1alpha1.projects.locations.assets.html
  docs/dyn/migrationcenter_v1alpha1.projects.locations.assetsExportJobs.html
  docs/dyn/migrationcenter_v1alpha1.projects.locations.html
  docs/dyn/migrationcenter_v1alpha1.projects.locations.sources.errorFrames.html
  googleapiclient/discovery_cache/documents/migrationcenter.v1.json
  googleapiclient/discovery_cache/documents/migrationcenter.v1alpha1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(notebooks): update the api
  docs/dyn/notebooks_v2.projects.locations.instances.html
  googleapiclient/discovery_cache/documents/notebooks.v2.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(managedkafka): update the api
  docs/dyn/managedkafka_v1.projects.locations.connectClusters.html
  docs/dyn/managedkafka_v1.projects.locations.html
  googleapiclient/discovery_cache/documents/managedkafka.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(paymentsresellersubscription): update the api
  docs/dyn/paymentsresellersubscription_v1.partners.userSessions.html
  googleapiclient/discovery_cache/documents/paymentsresellersubscription.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(solar): update the api
  docs/dyn/solar_v1.buildingInsights.html
  googleapiclient/discovery_cache/documents/solar.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(retail): update the api
  docs/dyn/retail_v2alpha.projects.locations.catalogs.branches.products.html
  docs/dyn/retail_v2beta.projects.locations.catalogs.branches.products.html
  googleapiclient/discovery_cache/documents/retail.v2alpha.json
  googleapiclient/discovery_cache/documents/retail.v2beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(securityposture): update the api
  docs/dyn/securityposture_v1.organizations.locations.operations.html
  googleapiclient/discovery_cache/documents/securityposture.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(storagetransfer): update the api
  docs/dyn/storagetransfer_v1.transferOperations.html
  googleapiclient/discovery_cache/documents/storagetransfer.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(serviceconsumermanagement): update the api
  docs/dyn/serviceconsumermanagement_v1.operations.html
  googleapiclient/discovery_cache/documents/serviceconsumermanagement.v1.json
  googleapiclient/discovery_cache/documents/serviceconsumermanagement.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(serviceusage): update the api
  docs/dyn/serviceusage_v1.operations.html
  docs/dyn/serviceusage_v1beta1.operations.html
  googleapiclient/discovery_cache/documents/serviceusage.v1.json
  googleapiclient/discovery_cache/documents/serviceusage.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(trafficdirector): update the api
  googleapiclient/discovery_cache/documents/trafficdirector.v2.json
  googleapiclient/discovery_cache/documents/trafficdirector.v3.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(securitycenter): update the api
  googleapiclient/discovery_cache/documents/securitycenter.v1.json
  googleapiclient/discovery_cache/documents/securitycenter.v1beta1.json
  googleapiclient/discovery_cache/documents/securitycenter.v1beta2.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(sqladmin): update the api
  docs/dyn/sqladmin_v1.Backups.html
  docs/dyn/sqladmin_v1.instances.html
  docs/dyn/sqladmin_v1beta4.backups.html
  docs/dyn/sqladmin_v1beta4.instances.html
  googleapiclient/discovery_cache/documents/sqladmin.v1.json
  googleapiclient/discovery_cache/documents/sqladmin.v1beta4.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(vmwareengine): update the api
  docs/dyn/vmwareengine_v1.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/vmwareengine.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(vmmigration): update the api
  docs/dyn/vmmigration_v1.projects.locations.html
  docs/dyn/vmmigration_v1.projects.locations.imageImports.html
  docs/dyn/vmmigration_v1.projects.locations.imageImports.imageImportJobs.html
  docs/dyn/vmmigration_v1.projects.locations.sources.migratingVms.cloneJobs.html
  docs/dyn/vmmigration_v1.projects.locations.sources.migratingVms.cutoverJobs.html
  docs/dyn/vmmigration_v1.projects.locations.sources.migratingVms.html
  docs/dyn/vmmigration_v1alpha1.projects.locations.html
  googleapiclient/discovery_cache/documents/vmmigration.v1.json
  googleapiclient/discovery_cache/documents/vmmigration.v1alpha1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(vpcaccess): update the api
  docs/dyn/vpcaccess_v1.projects.locations.html
  docs/dyn/vpcaccess_v1.projects.locations.operations.html
  docs/dyn/vpcaccess_v1beta1.projects.locations.html
  docs/dyn/vpcaccess_v1beta1.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/vpcaccess.v1.json
  googleapiclient/discovery_cache/documents/vpcaccess.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(workflows): update the api
  docs/dyn/workflows_v1.projects.locations.operations.html
  docs/dyn/workflows_v1beta.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/workflows.v1.json
  googleapiclient/discovery_cache/documents/workflows.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat: add batch operation validator to prevent incompatible mixing
  googleapiclient/batch_utils.py
  tests/test_batch_utils.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

fix: add close() method to HttpMockSequence for context manager support
  googleapiclient/http.py
  tests/test_http.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

chore(deps): update all dependencies
  .github/workflows/main.yml
  samples/compute/requirements-test.txt
  samples/compute/requirements.txt
  scripts/requirements.txt
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries, @googleapis/python-samples-owners

feat: auto-enable mTLS when supported certificates are detected
  googleapiclient/discovery.py
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

chore(deps): update all dependencies
  .github/workflows/main.yml
  samples/compute/requirements-test.txt
  samples/compute/requirements.txt
  scripts/requirements.txt
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries, @googleapis/python-samples-owners

feat: Add docstring, update version check and lint errors fix
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

chore: Update the testcases to check against google auth version number and skip for unsupported version number
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

fix: fix the import for parse_version_to_tuple
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

fix: Fix the tests to add the parse_version_to_tuple function
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

fix: Minor fix for parse version function
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

feat: auto-enable mTLS when supported certificates are detected (#2686)
  googleapiclient/discovery.py
  tests/test_discovery.py
Owners: @googleapis/yoshi-python, @googleapis/python-core-client-libraries

feat(admin): update the api
  docs/dyn/admin_directory_v1.chromeosdevices.html
  docs/dyn/admin_directory_v1.users.html
  docs/dyn/admin_reports_v1.activities.html
  googleapiclient/discovery_cache/documents/admin.directory_v1.json
  googleapiclient/discovery_cache/documents/admin.reports_v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(apihub): update the api
  docs/dyn/apihub_v1.projects.locations.addons.html
  docs/dyn/apihub_v1.projects.locations.apis.html
  docs/dyn/apihub_v1.projects.locations.apis.versions.operations.html
  docs/dyn/apihub_v1.projects.locations.apis.versions.specs.html
  docs/dyn/apihub_v1.projects.locations.html
  docs/dyn/apihub_v1.projects.locations.operations.html
  docs/dyn/apihub_v1.projects.locations.plugins.instances.html
  googleapiclient/discovery_cache/documents/apihub.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(androidpublisher): update the api
  docs/dyn/androidpublisher_v3.monetization.subscriptions.basePlans.html
  docs/dyn/androidpublisher_v3.monetization.subscriptions.html
  docs/dyn/androidpublisher_v3.orders.html
  docs/dyn/androidpublisher_v3.purchases.subscriptions.html
  docs/dyn/androidpublisher_v3.purchases.subscriptionsv2.html
  googleapiclient/discovery_cache/documents/androidpublisher.v3.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(alertcenter): update the api
  googleapiclient/discovery_cache/documents/alertcenter.v1beta1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(alloydb): update the api
  docs/dyn/alloydb_v1.projects.locations.backups.html
  docs/dyn/alloydb_v1.projects.locations.clusters.html
  docs/dyn/alloydb_v1.projects.locations.clusters.instances.html
  docs/dyn/alloydb_v1alpha.projects.locations.backups.html
  docs/dyn/alloydb_v1alpha.projects.locations.clusters.instances.html
  docs/dyn/alloydb_v1beta.projects.locations.backups.html
  docs/dyn/alloydb_v1beta.projects.locations.clusters.instances.html
  googleapiclient/discovery_cache/documents/alloydb.v1.json
  googleapiclient/discovery_cache/documents/alloydb.v1alpha.json
  googleapiclient/discovery_cache/documents/alloydb.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(apphub): update the api
  docs/dyn/apphub_v1.projects.locations.applications.services.html
  docs/dyn/apphub_v1.projects.locations.applications.workloads.html
  docs/dyn/apphub_v1.projects.locations.discoveredServices.html
  docs/dyn/apphub_v1.projects.locations.discoveredWorkloads.html
  docs/dyn/apphub_v1.projects.locations.html
  docs/dyn/apphub_v1.projects.locations.operations.html
  docs/dyn/apphub_v1alpha.projects.locations.applications.services.html
  docs/dyn/apphub_v1alpha.projects.locations.applications.workloads.html
  docs/dyn/apphub_v1alpha.projects.locations.discoveredServices.html
  docs/dyn/apphub_v1alpha.projects.locations.discoveredWorkloads.html
  docs/dyn/apphub_v1alpha.projects.locations.html
  docs/dyn/apphub_v1alpha.projects.locations.operations.html
  googleapiclient/discovery_cache/documents/apphub.v1.json
  googleapiclient/discovery_cache/documents/apphub.v1alpha.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(apigee): update the api
  docs/dyn/apigee_v1.organizations.apiproducts.html
  docs/dyn/apigee_v1.organizations.apis.keyvaluemaps.html
  docs/dyn/apigee_v1.organizations.environments.keyvaluemaps.html
  docs/dyn/apigee_v1.organizations.environments.securityActions.html
  docs/dyn/apigee_v1.organizations.keyvaluemaps.html
  docs/dyn/apigee_v1.organizations.operations.html
  docs/dyn/apigee_v1.organizations.securityAssessmentResults.html
  docs/dyn/apigee_v1.organizations.securityMonitoringConditions.html
  docs/dyn/apigee_v1.organizations.securityProfilesV2.html
  googleapiclient/discovery_cache/documents/apigee.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(appengine): update the api
  docs/dyn/appengine_v1.apps.authorizedCertificates.html
  docs/dyn/appengine_v1.apps.domainMappings.html
  docs/dyn/appengine_v1.apps.locations.html
  docs/dyn/appengine_v1.projects.locations.applications.authorizedCertificates.html
  docs/dyn/appengine_v1.projects.locations.applications.domainMappings.html
  docs/dyn/appengine_v1alpha.apps.authorizedCertificates.html
  docs/dyn/appengine_v1alpha.apps.domainMappings.html
  docs/dyn/appengine_v1alpha.apps.locations.html
  docs/dyn/appengine_v1alpha.projects.locations.applications.authorizedCertificates.html
  docs/dyn/appengine_v1alpha.projects.locations.applications.domainMappings.html
  docs/dyn/appengine_v1alpha.projects.locations.html
  docs/dyn/appengine_v1beta.apps.authorizedCertificates.html
  docs/dyn/appengine_v1beta.apps.domainMappings.html
  docs/dyn/appengine_v1beta.apps.locations.html
  docs/dyn/appengine_v1beta.apps.services.versions.html
  docs/dyn/appengine_v1beta.projects.locations.applications.authorizedCertificates.html
  docs/dyn/appengine_v1beta.projects.locations.applications.domainMappings.html
  docs/dyn/appengine_v1beta.projects.locations.applications.services.versions.html
  docs/dyn/appengine_v1beta.projects.locations.html
  googleapiclient/discovery_cache/documents/appengine.v1.json
  googleapiclient/discovery_cache/documents/appengine.v1alpha.json
  googleapiclient/discovery_cache/documents/appengine.v1beta.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(cloudbuild): update the api
  docs/dyn/cloudbuild_v1.projects.builds.html
  docs/dyn/cloudbuild_v1.projects.locations.builds.html
  docs/dyn/cloudbuild_v1.projects.locations.triggers.html
  docs/dyn/cloudbuild_v1.projects.triggers.html
  googleapiclient/discovery_cache/documents/cloudbuild.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(chromemanagement): update the api
  docs/dyn/chromemanagement_v1.customers.reports.html
  docs/dyn/chromemanagement_v1.operations.html
  googleapiclient/discovery_cache/documents/chromemanagement.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(backupdr): update the api
  docs/dyn/backupdr_v1.projects.locations.backupPlanAssociations.html
  docs/dyn/backupdr_v1.projects.locations.backupVaults.dataSources.backups.html
  docs/dyn/backupdr_v1.projects.locations.backupVaults.html
  docs/dyn/backupdr_v1.projects.locations.dataSourceReferences.html
  docs/dyn/backupdr_v1.projects.locations.operations.html
  docs/dyn/backupdr_v1.projects.locations.trial.html
  googleapiclient/discovery_cache/documents/backupdr.v1.json
Owners: @yoshi-approver, @googleapis/yoshi-python

feat(authorizedbuyersmarketplace): update the api
  docs/dyn/authorizedbuyersmarketplace_v1.bidders.auctionPackages.html
  docs/dyn/authorizedbuyersmarketplace_v1.bidders.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1.buyers.auctionPackages.html
  docs/dyn/authorizedbuyersmarketplace_v1.buyers.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1.buyers.proposals.deals.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.bidders.auctionPackages.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.bidders.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.buyers.auctionPackages.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.buyers.finalizedDeals.html
  docs/dyn/authorizedbuyersmarketplace_v1alpha.buyers.proposals.deals.html
  googleapiclient/discovery_cache/documents/authorizedbuyersmarketplace.v1.json
  googleapiclient/discovery_cache/documents/authorizedbuyersmarketplace.v1alpha.json
Owners: @yoshi-approver, @googleapis/yoshi-python
